Repository vacuumlabs/cowork-reservation, pull requests merged in 2021-11, with the labels that each got.

#19 Added swagger
  backend/api/api.py
  backend/app.py
  backend/requirements.txt
  backend/static/swagger.json
Labels: enhancement, needs review, backend

#14 Admin - (superadmin) companies and users
  frontend/admin/package.json
  frontend/admin/src/App.tsx
  frontend/admin/src/authProvider.tsx
  frontend/admin/src/components/Companies.tsx
  frontend/admin/src/components/Users.tsx
  frontend/admin/src/models.ts
  frontend/admin/yarn.lock
Labels: frontend

#20 Update react-native dependency to 0.66.1 in frontend/tablet/package.json and frontend/tablet/yarn.lock
  frontend/tablet/package.json
  frontend/tablet/yarn.lock
Labels: dependencies, frontend

#21 Added icons and moved components
  frontend/admin/src/App.tsx
  frontend/admin/src/authProvider.tsx
  frontend/admin/src/components/Companies.tsx
  frontend/admin/src/components/Layout.tsx
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/Tenant/TenantCreate.tsx
  frontend/admin/src/components/Tenant/TenantList.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/src/components/Tenant/index.tsx
  frontend/admin/src/components/User/UserCreate.tsx
  frontend/admin/src/components/User/UserList.tsx
  frontend/admin/src/components/User/index.tsx
  frontend/admin/src/components/Users.tsx
  frontend/admin/src/models.ts
Labels: frontend

#24 Update databazy
  backend/api/api.py
  backend/db/models.py
  backend/db/queries.py
  backend/static/swagger.json
  backend/templates/base.html
Labels: backend

#25 Update react-native depedency to 0.66.2 (tablet_app)
  frontend/tablet/package.json
  frontend/tablet/yarn.lock
Labels: dependencies, frontend

#26 Added custom fonts (tablet_app)
  frontend/tablet/android/app/src/main/assets/fonts/Crete Round.ttf
  frontend/tablet/android/app/src/main/assets/fonts/Hind Madurai.ttf
  frontend/tablet/android/app/src/main/assets/fonts/PT Sans Caption Bold.ttf
  frontend/tablet/assets/fonts/Crete Round.ttf
  frontend/tablet/assets/fonts/Hind Madurai.ttf
  frontend/tablet/assets/fonts/PT Sans Caption Bold.ttf
  frontend/tablet/ios/tablet.xcodeproj/project.pbxproj
  frontend/tablet/ios/tablet/Info.plist
  frontend/tablet/react-native.config.js
Labels: enhancement, frontend

#27 Cleaned app screen (tablet_app)
  frontend/tablet/App.tsx
Labels: needs review, frontend

#23 Added rooms to superadmin
  frontend/admin/src/App.tsx
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/Room/RoomCreate.tsx
  frontend/admin/src/components/Room/RoomEdit.tsx
  frontend/admin/src/components/Room/RoomList.tsx
  frontend/admin/src/components/Room/index.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/src/models.ts
Labels: frontend

#30 Tenant admin work and login via firebase
  frontend/admin/package.json
  frontend/admin/src/authProvider.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/yarn.lock
Labels: needs review, frontend

#29 Room screen navigation (tablet_app)
  frontend/tablet/App.tsx
  frontend/tablet/package.json
  frontend/tablet/src/screens/MainScreen.tsx
  frontend/tablet/src/screens/index.ts
  frontend/tablet/yarn.lock
Labels: enhancement, needs review, frontend

#33 Admin fixes
  frontend/admin/src/authProvider.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
Labels: frontend

#36 feat(iOS): update settings to display fullscreen
  frontend/tablet/app.json
  frontend/tablet/ios/Podfile.lock
  frontend/tablet/ios/tablet.xcodeproj/project.pbxproj
  frontend/tablet/ios/tablet.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Labels: frontend

#35 Fix code format (tablet_app)
  frontend/tablet/App.tsx
  frontend/tablet/package.json
  frontend/tablet/react-native.config.js
  frontend/tablet/src/screens/MainScreen.tsx
  frontend/tablet/src/screens/index.ts
  frontend/tablet/yarn.lock
Labels: frontend

#34 Auth provider with firebase custom claims
  frontend/admin/src/authProvider.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/src/models.ts
Labels: enhancement, frontend

#38 Admin panel start instructions
  frontend/admin/README.md
Labels: documentation, frontend

#39 Add button component (tablet_app)
  frontend/tablet/src/components/Button.tsx
  frontend/tablet/src/components/Typography.tsx
  frontend/tablet/src/components/index.ts
  frontend/tablet/src/components/theme.ts
  frontend/tablet/src/screens/MainScreen.tsx
  frontend/tablet/src/screens/RoomDetailScreen.tsx
  frontend/tablet/src/screens/index.ts
Labels: enhancement, frontend

#42 [Tablet] Room detail basic layout
  frontend/tablet/App.tsx
  frontend/tablet/src/components/Button.tsx
  frontend/tablet/src/components/Screen.tsx
  frontend/tablet/src/components/index.ts
  frontend/tablet/src/components/theme.ts
  frontend/tablet/src/screens/RoomDetailScreen.tsx
  frontend/tablet/src/screens/index.ts
  frontend/tablet/src/screens/index.tsx
Labels: needs review, frontend

#43 Fix button height
  frontend/tablet/src/components/Button.tsx
Labels: frontend

#44 Add gradient background
  frontend/tablet/android/app/src/main/java/com/tablet/MainApplication.java
  frontend/tablet/android/settings.gradle
  frontend/tablet/ios/Podfile
  frontend/tablet/ios/Podfile.lock
  frontend/tablet/package.json
  frontend/tablet/react-native-radial-gradient.d.ts
  frontend/tablet/src/components/Screen.tsx
  frontend/tablet/yarn.lock
Labels: needs review, frontend

#45 Extract Header from RoomDetailScreen
  frontend/tablet/src/screens/RoomDetailScreen/Header.tsx
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
Labels: needs review, frontend

#46 [Tablet] Extract Footer from RoomDetailScreen
  frontend/tablet/src/components/Button.tsx
  frontend/tablet/src/components/Typography.tsx
  frontend/tablet/src/components/index.ts
  frontend/tablet/src/screens/RoomDetailScreen/Footer.tsx
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
Labels: frontend

#47 [Tablet] Add screens navigation
  frontend/admin/src/models.ts
  frontend/tablet/src/components/Screen.tsx
  frontend/tablet/src/models.ts
  frontend/tablet/src/screens/LoginScreen/index.tsx
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/src/screens/index.tsx
Labels: frontend

#50 [Tablet] Firebase login with email and password
  frontend/tablet/.gitignore
  frontend/tablet/App.tsx
  frontend/tablet/android/app/build.gradle
  frontend/tablet/android/app/google-services.json
  frontend/tablet/android/build.gradle
  frontend/tablet/app.json
  frontend/tablet/ios/GoogleService-Info.plist
  frontend/tablet/ios/Podfile.lock
  frontend/tablet/ios/tablet.xcodeproj/project.pbxproj
  frontend/tablet/ios/tablet.xcworkspace/GoogleService-Info.plist
  frontend/tablet/ios/tablet/AppDelegate.m
  frontend/tablet/ios/tablet/Info.plist
  frontend/tablet/package.json
  frontend/tablet/src/authProvider.tsx
  frontend/tablet/src/contexts/UserContext.tsx
  frontend/tablet/src/screens/LoginScreen/index.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/src/screens/index.tsx
  frontend/tablet/yarn.lock
Labels: enhancement, frontend

#51 [FE Admin] Google login and rooms
  frontend/admin/package.json
  frontend/admin/src/App.tsx
  frontend/admin/src/components/LoginPage.tsx
  frontend/admin/src/components/Room/RoomCreate.tsx
  frontend/admin/src/components/Room/RoomEdit.tsx
  frontend/admin/src/components/Room/RoomList.tsx
  frontend/admin/src/components/Tenant/TenantList.tsx
  frontend/admin/src/models.ts
  frontend/admin/yarn.lock
Labels: frontend
