Repository vacuumlabs/cowork-reservation, pull requests merged in 2022-01, with the labels that each got.

#52 [FE Admin] Room create with building filter based on selected city
  frontend/admin/src/components/Room/RoomCreate.tsx
  frontend/admin/src/components/Room/RoomList.tsx
Labels: enhancement, frontend

#59 [FE Admin] Screens after login based on tenantId and role
  frontend/admin/package.json
  frontend/admin/src/App.tsx
  frontend/admin/src/components/LoginPage.tsx
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/User/UserList.tsx
  frontend/admin/src/components/User/UserShow.tsx
  frontend/admin/src/components/User/index.tsx
  frontend/admin/yarn.lock
Labels: enhancement, frontend

#65 Refactored room api
  backend/app/api/room.py
  backend/app/daos.py
  backend/app/static/swagger.json
Labels: needs review, backend

#69 Added calendar API
  backend/app/__init__.py
  backend/app/api/calendar.py
  backend/app/daos.py
  backend/app/static/swagger.json
Labels: needs review, backend

#68 Small changes to room api
  backend/app/api/room.py
  backend/app/daos.py
Labels: needs review, backend

#64 Added ondelete Cascade, passive_deletes to models
  backend/app/models.py
Labels: enhancement, needs review, backend

#73 Added Event api and refactored dao
  backend/app/__init__.py
  backend/app/api/calendar.py
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/daos.py
  backend/app/static/swagger.json
Labels: needs review, backend

#67 Flask cors set up
  backend/app/__init__.py
  backend/requirements.txt
Labels: needs review, backend

#63 [Tablet] Room list UI
  frontend/tablet/assets/fonts/fa-brands-400.ttf
  frontend/tablet/assets/fonts/fa-regular-400.ttf
  frontend/tablet/assets/fonts/fa-solid-900.ttf
  frontend/tablet/ios/tablet.xcodeproj/project.pbxproj
  frontend/tablet/ios/tablet/Info.plist
  frontend/tablet/package.json
  frontend/tablet/src/components/Icon.tsx
  frontend/tablet/src/components/index.ts
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
  frontend/tablet/src/screens/RoomListScreen/RoomCard.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/yarn.lock
Labels: frontend

#76 Admin api tenants
  backend/app/api/tenant.py
  backend/app/daos.py
  backend/app/firebase_utils.py
  backend/app/static/swagger.json
  backend/requirements.txt
Labels: needs review, backend

#78 Added endpoint protection with claims
  backend/app/api/calendar.py
  backend/app/api/room.py
Labels: needs review, backend

#66 Edit components
  frontend/admin/src/components/Room/RoomList.tsx
  frontend/admin/src/components/Tenant/TenantCreate.tsx
  frontend/admin/src/components/Tenant/TenantEdit.tsx
  frontend/admin/src/components/Tenant/TenantList.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/src/components/Tenant/index.tsx
  frontend/admin/src/components/User/UserEdit.tsx
  frontend/admin/src/components/User/UserList.tsx
  frontend/admin/src/components/User/index.tsx
Labels: enhancement, frontend

#74 [FE-Admin] Added building component
  frontend/README.md
  frontend/admin/package.json
  frontend/admin/src/App.tsx
  frontend/admin/src/components/Building/BuildingCreate.tsx
  frontend/admin/src/components/Building/BuildingEdit.tsx
  frontend/admin/src/components/Building/BuildingList.tsx
  frontend/admin/src/components/Building/BuildingShow.tsx
  frontend/admin/src/components/Building/index.tsx
  frontend/admin/src/components/Room/RoomShow.tsx
  frontend/admin/src/components/Room/index.tsx
  frontend/admin/src/components/Tenant/TenantShow.tsx
  frontend/admin/yarn.lock
  frontend/shared/models.ts
  frontend/shared/package.json
  frontend/tablet/yarn.lock
Labels: enhancement, frontend

#75 [FE Admin] City components
  frontend/admin/src/App.tsx
  frontend/admin/src/components/City/CityCreate.tsx
  frontend/admin/src/components/City/CityEdit.tsx
  frontend/admin/src/components/City/CityList.tsx
  frontend/admin/src/components/City/CityShow.tsx
  frontend/admin/src/components/City/index.tsx
Labels: enhancement, frontend

#82 [Tablet] Mock event data
  frontend/admin/yarn.lock
  frontend/shared/models.ts
  frontend/shared/package.json
  frontend/tablet/package.json
  frontend/tablet/src/screens/RoomListScreen/RoomCard.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/yarn.lock
Labels: frontend

#77 [Tablet] Hiding system bars in room detail
  frontend/tablet/package.json
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
  frontend/tablet/yarn.lock
Labels: enhancement, frontend

#84 [Tablet] Display current time and date
  frontend/tablet/src/screens/RoomDetailScreen/Header.tsx
Labels: needs review, frontend

#83 [FE Admin] Employee and tenant admin split
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/User/UserCreate.tsx
  frontend/admin/src/components/User/UserEdit.tsx
  frontend/admin/src/components/User/UserList.tsx
Labels: enhancement, needs review, frontend

#87 Moved parameter deconstruction api->services
  backend/app/api/calendar.py
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/api/tenant.py
  backend/app/services.py
Labels: needs review, backend

#90 Backend tablet api
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/daos.py
Labels: needs review, backend

#89 Backend restructure
  backend/app/seedDB.py
  backend/app/static/swagger.json
Labels: needs review, backend

#91 Added logging during project setup
  backend/app/__init__.py
  backend/app/utils.py
  backend/requirements.txt
Labels: enhancement, backend

#86 [Tablet] Find room modal
  frontend/shared/models.ts
  frontend/tablet/package.json
  frontend/tablet/src/components/Icon.tsx
  frontend/tablet/src/screens/RoomDetailScreen/FindRoom/FindRoomModal.tsx
  frontend/tablet/src/screens/RoomDetailScreen/FindRoom/RoomAvailabilityList.tsx
  frontend/tablet/src/screens/RoomDetailScreen/FindRoom/RoomListItem.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Header.tsx
  frontend/tablet/src/screens/RoomListScreen/RoomCard.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/src/utils.ts
  frontend/tablet/yarn.lock
Labels: frontend

#80 Changed request header and error response
  backend/app/api/calendar.py
  backend/app/api/room.py
  backend/app/api/tenant.py
Labels: needs review, backend

#85 [Tablet] Next meeting and room availability
  frontend/shared/models.ts
  frontend/tablet/src/screens/RoomDetailScreen/Footer/Footer.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Footer/NextEvent.tsx
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/src/utils.ts
Labels: frontend

#94 Backend sync
  backend/app/api/calendar.py
  backend/app/api/default.py
  backend/app/api/event.py
  backend/app/api/service_account/coworkreservation-213a4920386a.json
  backend/app/api/service_account/service_account.py
  backend/app/api/service_account/services_for_service_account.py
  backend/app/daos.py
  backend/app/models.py
  backend/app/seedDB.py
  backend/migrations/versions/c925c60a033e_.py
  backend/requirements.txt
Labels: backend

#92 [Admin] Add rest provider
  backend/app/api/calendar.py
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/api/tenant.py
  frontend/admin/package.json
  frontend/admin/src/App.tsx
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/User/UserShow.tsx
  frontend/admin/yarn.lock
Labels: frontend

#96 Models update
  backend/app/__init__.py
  backend/app/api/building.py
  backend/app/api/city.py
  backend/app/daos.py
  backend/app/models.py
  backend/app/seedDB.py
  backend/app/services.py
  backend/migrations/versions/c124043416ef_.py
Labels: enhancement, needs review, backend

#98 Json standardization
  backend/app/api/building.py
  backend/app/api/calendar.py
  backend/app/api/city.py
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/services.py
  backend/app/utils.py
Labels: enhancement, backend

#100 Admin api tenants
  backend/app/__init__.py
  backend/app/api/calendar.py
  backend/app/api/event.py
  backend/app/api/room.py
  backend/app/api/tenant.py
  backend/app/api/users.py
  backend/app/daos.py
  backend/app/firebase_utils.py
  backend/app/models.py
  backend/app/seedDB.py
  backend/app/services.py
  backend/app/user_dao.py
  backend/migrations/versions/71e633a22ca0_.py
Labels: needs review, backend

#99 [FE Admin] Updated fields to use reference
  frontend/admin/src/components/Building/BuildingList.tsx
  frontend/admin/src/components/Room/RoomEdit.tsx
  frontend/admin/src/components/Room/RoomList.tsx
  frontend/admin/src/components/Room/RoomShow.tsx
Labels: needs review, frontend

#102 Sync backend
  backend/app/api/default.py
  backend/app/api/service_account/coworkreservation-213a4920386a.json
  backend/app/api/service_account/service_account.py
  backend/app/api/service_account/services_for_service_account.py
  backend/app/api/service_account/zeta-store-338710-8b9920bd4b01.json
  backend/app/daos.py
  backend/app/models.py
  backend/migrations/versions/a31248020c7e_.py
Labels: backend

#101 [Tablet] Quick buttons, end early button, clock fix and current meeting
  frontend/shared/models.ts
  frontend/tablet/src/components/Icon.tsx
  frontend/tablet/src/components/theme.ts
  frontend/tablet/src/screens/RoomDetailScreen/Clock.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Footer/Event.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Footer/Footer.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Footer/NextEvent.tsx
  frontend/tablet/src/screens/RoomDetailScreen/Footer/QuickActions.tsx
  frontend/tablet/src/screens/RoomDetailScreen/index.tsx
  frontend/tablet/src/screens/RoomListScreen/RoomCard.tsx
  frontend/tablet/src/screens/RoomListScreen/index.tsx
  frontend/tablet/src/utils.ts
Labels: enhancement, needs review, frontend

#104 Changes datetimes format
  backend/app/daos.py
Labels: backend

#105 Hotfix for filters in get users
  backend/app/user_dao.py
Labels: needs review, backend

#106 Invitations feature
  backend/app/__init__.py
  backend/app/api/default.py
  backend/app/api/invitations.py
  backend/app/daos.py
  backend/app/models.py
  backend/app/services.py
  backend/migrations/versions/7fbaf33157b9_.py
Labels: needs review, backend

#107 Hotfix for filters in user dao
  backend/app/user_dao.py
Labels: needs review, backend

#108 Changed formatting and value type of invitationDAO
  backend/app/daos.py
Labels: needs review, backend

#109 Added error gcp print to app and firebase_utils
  backend/app/__init__.py
  backend/app/firebase_utils.py
Labels: needs review, backend

#110 Added gcp print to update in daos
  backend/app/daos.py
Labels: needs review, backend

#111 Adding func to create bulding and rooms on google and serviceaccount
  backend/app/api/building.py
  backend/app/api/default.py
  backend/app/api/room.py
  backend/app/api/service_account/service_account.py
  backend/app/services.py
Labels: backend

#113 Fixed missing tenant id in invitations
  backend/app/api/invitations.py
Labels: backend

#97 [FE Admin] Added MyProfile
  frontend/admin/src/components/Menu.tsx
  frontend/admin/src/components/User/UserShow.tsx
Labels: needs review, frontend

#114 Fixed type conversion in invitation dao
  backend/app/daos.py
Labels: backend

#115 Fixed typo and formatting
  backend/app/api/users.py
  backend/app/user_dao.py
Labels: backend

#116 Added uid to return value
  backend/app/firebase_utils.py
Labels: needs review, backend

#117 Fixed roles issue in users
  backend/app/api/users.py
  backend/app/user_dao.py
Labels: backend

#119 Fixed get one user access
  backend/app/api/users.py
  backend/app/user_dao.py
Labels: backend

#118 Adding google func to event
  backend/app/api/event.py
  backend/app/daos.py
Labels: backend

#120 Fixed bug in get one user
  backend/app/api/users.py
Labels: backend

#121 Fixed access in tenant get one
  backend/app/api/tenant.py
Labels: backend

#123 Fixed access for tenant get all
  backend/app/api/tenant.py
Labels: backend

#122 adding google func update
  backend/app/api/event.py
Labels: backend

#124 Cancel event now uses delete from api
  backend/app/daos.py
Labels: backend

#125 Updated seedDB
  backend/app/seedDB.py
Labels: backend
